.bar:hover, .label:hover {
    fill: #00FF80;
    transition: fill 0.15s;
}
text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #081F2C;
}
.axis path,
.axis line {
    fill: none;
    stroke: #BDC2C6;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}
.y line {
    display: none;
}
.toolTip {
    position: absolute;
    pointer-events: none;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 9px 14px 6px 14px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}  
.toolTip span {
    font-weight: 500;
    color: #081F2C;
}
.CorpusCompare{
    overflow: hidden;
}
.barchart .ant-tabs-content{
    height: 100%;
}