.node {
    cursor: pointer;
  }

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.SimpleTree{
    height: calc((100vh - var(--header-h)) * (1 - var(--ratio-up)) - var(--div-margin))
}