.Evolution{
    height: calc((100vh - var(--header-h))*var(--ratio-up) - var(--div-margin));
    position: relative;
    /* overflow: auto; */
}

@keyframes move {

}
.Node, .Edge, .NodeBg, .edges {
    /* transition-property: opacity transform width height; */
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}


.link_info{
    fill:#666;
    stroke:none;
    stroke-width:0.5px;
}

.floatIcon a , .floatIcon i{
    padding: 1px 2px!important;
}

/* dropdown button */
.ant-btn > span{
    font-size: 1.2em;
}
/* variants */

.container{
    height:100%;
    overflow: hidden;
    /* position:relative; */
}
.ant-tabs-bar{
    margin:0px!important;
}
.ant-tabs-tab{
    font-size: 6px;
    padding: 2px 1px!important;
    /* margin: 0px 0px 0px 10px!important; */
}


/* css highlight animation */
@keyframes bumb{
    0% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, -2px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
}

.pop{
    animation: bumb 800ms;
}

/* modal  */
.ant-modal-content{
    height:80vh;
}
